@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

$backgound-color-default: #f8f9fa;
$background-color-secondary: #ffbe0b;
$color1: #000000;
$color2: #4d4d4d;
$color3: #f5f3f4;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: "Luckiest Guy", cursive;
}

.container {
  background-color: $background-color-secondary;
  height: 100%;
}

#title {
  padding: 30px 50px;
  font-size: 40px;
}

.wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.words {
  width: 45vw;
  height: 20vh;
  border-radius: 20px;
  background-color: $color3;
  margin: 20px 50px 10px 0px;
  border: 3px solid $color1;
  font-size: 12px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: hidden;
}

.card {
  width: 30vw;
  height: 27vh;
  border-radius: 20px;
  background-color: $color3;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.6s;
}

.answer {
  outline: 0 none;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid $color1;
  margin-bottom: 15px;
  width: 80%;
  height: 30px;
  font-size: 16px;
  font-family: "Luckiest Guy", cursive;
  align-self: center;
}

.description {
  align-self: flex-start;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.btn-send {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  outline: 0 none;
  position: absolute;
  bottom: 15px;
  right: 50px;

  &:hover {
    cursor: pointer;
  }
}

.send {
  width: 30px;
  height: 30px;
}

@media (min-width: 900px) {
  .card {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 70vw;
  }

  .btn-send {
    right: 65px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90vw;
  }
}

@media (max-width: 425px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .words {
    width: 80vw;
    margin: 5px 0px 30px 0px;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 90vw;
    font-size: 10px;
  }

  .btn-send {
    right: 40px;
  }
}

@media (max-width: 375px) {
  .description {
    padding-bottom: 0px;
  }

  .card {
    font-size: 8px;
  }
}

@media (max-width: 325px) {
  .btn-send {
    height: 25px;
    width: 25px;
  }

  .send {
    height: 25px;
    width: 25px;
  }
}
